#header {
  position: fixed;
  top: 0px;
  display: inline;
}
header {
  background-image: linear-gradient(#DEB887, #8B4513);
  width: 100%;
  height: 100px;
}
#header-img {
  margin-left: 1em;
  box-shadow: 0px 0px 10px black;
  border-radius: 50px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0px;
  margin-top: 1em;
}
h1 {
  margin-left: .5em;
  text-shadow: 2px 2px 8px white;
}
#nav-bar {
  right: 0%;
}
.nav-link {
  text-decoration: none;
  display: inline;
  float: right;
  color: black;
  margin-right: 1em;
  font-weight: bold;
}
#horizontal-list {
  list-style-type: none;
  font-size: 120%;
}
li {
  display: inline-block;
  list-style: none;
  padding: 0.5em;
}
body {
  padding-top: 5em;
  padding-bottom: 10em;
  background-color: rgba(100, 100, 100, 0.3);
}
h2 {
  font-size: 200%;
}
p {
  font-size: 120%;
}
#services {
  text-align: center;
}
iframe {
  justify-content: center;
  box-shadow: 0px 0px 10px black;
}
#services {
  padding-top: 5em;
}
#about {
  justify-content: center;
  text-align: center;
  padding-top: 10em;
}
#order {
  padding-top: 10em;
  font-size: 150%;
}
#form {
  font-weight: bold;
  justify-content: center;
  text-align: center;
}
#email {
  margin: 1em;
  width: 50%;
  max-width: 400px;
  box-shadow: 2px 2px 5px black;
}


@media only screen and (max-width: 700px) {
  body {
    font-size: 90%;
  }
}
